html {
  scroll-behavior: smooth;
}

#nav ul {
    list-style:none; /*menghilangkan dot list*/
  }

#nav a {
    text-decoration:none; /*menghilangkan garis bawah*/
    color: rgb(167, 153, 153);
    font-weight:bold;
  }

#nav li {
    display:inline; /*membuat menu menjadi Horizontal*/    
    padding:10px; 
    border-left:solid 1px #000; 
    } 

#nav li:hover {
          background-color:rgb(0, 0, 0);
         }